.container {
    display: flex;
    /* background-color: red; */
    /* padding: 30px; */
}
.sectionOne{
    background-color: white;
    flex: 1;
    padding: 30px;

}
.sectionTwo{
    background-color: #F9F9FB;
    flex: 4;
}

.sectionThree{
    background-color: green;
    flex: 2;
}

@media screen and (max-width: 768px) {
    .container { 
        background-color: red;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 475px) {
    .container { 
        background-color: green;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}